<% if logged_in? %>
<div class="row">
   
    <div class="col-xs-12">
      <%= render 'foods/foods', foods: @foods %>
      </div>
  </div>
<% else %>
<body id="index">
  <div class="box5">
  <div class="bg-mask">
<div class="wrapper">
  <div class="inside">
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        
          <%= link_to '新規登録', signup_path,class: 'btn btn-lg btn-primary' %>
          <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-primary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</div>
</body>
<% end %>
