<% if logged_in? %>
  <p>ログイン完了ユーザ: <%= current_user.name %></p>
<% else %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <div class=text-center><h1>Calorist</h1>
          <%= link_to '新規登録', signup_path,class: 'btn btn-lg btn-primary' %>
          <%= link_to 'ログイン', login_path, class: 'btn btn-lg btn-primary' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
